.App {
  text-align: center;
}



.App-header {
  background-color: #070707;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: white;
}

.NavBar {
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.NavBar {
  display: inline-block;
}

.NavBar-brand {
  font-size: 1.5em;
  font-weight: bold;
}

.NavBar-link {
  text-decoration: none;
  color: black;
  padding: 0 10px;
}

.box {
  border: 1px solid rgb(243, 242, 242);
  padding: 20px;
  margin-bottom: 10px;
  float: left;
  width: 33.33%;
}

.betform {
  display: block;
}



.betcard-container {
  clear: both;
  margin-top: 20px;
}



.account-form {
  display: block;
}




.profile {
  display: flex;
  justify-content: space-between;
}

.user-info-container {
  width: 300px;
}

.betcard-container {
  width: 300px;
}

.betcard {
  height: 200px;
  border: 1px solid black;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.betcard__pick,
.betcard__wager,
.betcard__odds,
.betcard__payout {
  padding: 10px;
  font-size: 14px;
  color: yellowgreen
}