.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #333;
    color: #fff;
    font-size: 1rem;
    /* Adjust the padding and margin to move the links closer together */
    padding: 0 20px;
    margin: 0 -10px;
    
  }
  
  .nav a {
    color: #fff;
    text-decoration: none;
    /* Reduce the margin between the links */
    margin: 0 10px;
    /* Center the links vertically within the navbar */
    align-self: center;
  }
  
  .nav .logo {
    height: 50px;
    margin-right: 20px;
  }
  
  .nav .links {
    display: flex;
    align-items: center;
  }
  
  .nav .account-balance {
    margin-right: 20px;
    font: 0.8rem Arial, sans-serif;
  }
  
  .nav .logout-button {
    background-color: #dc3545;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 0.8rem;
    cursor: pointer;
  }
  
  .nav .logout-button:hover {
    background-color: #c82333;
  }
  
  .nav .add-to-wallet-button,
  .nav .withdraw-button {
    background-color: #28a745;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 0.8rem;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .nav .add-to-wallet-button:hover,
  .nav .withdraw-button:hover {
    background-color: #1e7e34;
  }
  
  .nav .wallet-input {
    width: 50px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px 10px;
    margin-right: 10px;
  }
  
  